<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="SKYYAR розробляє радіочастотні та НВЧ системи: функціональні модулі, підсилювачі, антени та комплексні апаратно-програмні рішення.">
<link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/themes/skyyar/assets/src/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
      href="/themes/skyyar/assets/src/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/themes/skyyar/assets/src/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/themes/skyyar/assets/src/img/favicon/site.webmanifest">
