@media (max-width: 767.98px) {

    p,
    a,
    button,
    input,
    textarea {
        font-size: 14px;
    }

    .wrapper {
    padding-top: 60px;
	  padding-bottom: 60px;
  }
  .container {
    width: 100%;
    margin: 0px auto;
	  padding: 0px 15px;
  }
  .header {
    padding-bottom: 32px;
    &__logo {
			width: 177px;

		}
  }
  .content {
      padding: 0 0 48px 0;

    &__title {
      font-size: 24px;
      line-height: 34px;
			margin-bottom: 8px;
		}
    &__text {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 8px;

		}
  }
  .form {
    padding: 0;
      &_line-wrapper {
          flex-direction: column;

      }
      &__input {

          margin-bottom: 10px;
      }
    &__btn {
			padding: 13px 16px;
    }

  }
    .contact-us {
        padding-top: 60px;
        flex-direction: column;
        width: 100%;
        &_item {
            width: 100%;
        }
    }
  .copy-right {
    padding-top: 24px;

  }

}

