@media (max-width: 767.98px) {
  .wrapper {
    padding-top: 60px;
	  padding-bottom: 60px;
  }
  .container {
    width: 100%;
    margin: 0px auto;
	  padding: 0px 15px;
  }
  .header {
    padding-bottom: 32px;
    &__logo {
			width: 177px;
			
		}
  }
  .content {
    padding-bottom: 48px;
    &__title {
      font-size: 24px;
      line-height: 34px;
			margin-bottom: 8px;
		}
    &__text {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 8px;

		}
  }
  .form {
    padding: 0;

    &__btn {
			padding: 13px 16px;
    }

  }

  .copy-right {
    padding-top: 24px;
  
  }
  
}

