/* Підключення інших scss файлів*/
@import"_reset";


/* Підключення адаптиву*/
@import"_media";

/* Підключення шрифтів*/

@font-face {
  font-family: 'Google Sans';
  src: url(/themes/skyyar/assets/src/fonts/GoogleSans-Regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url(/themes/skyyar/assets/src/fonts/GoogleSans-Medium.woff2);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Google Sans';
    src: url(/themes/skyyar/assets/src/fonts/GoogleSans-Bold.woff2);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* Підключення змінних*/
$colorText: rgba(68, 68, 68, 1);
$colorH1: #000;
$colorBgBnt: rgba(55, 125, 255, 1);
$colorBgBntHover: #0049CF;
$colorBorder: rgba(55, 125, 255, 0.16);
$colorBorderActive: #377DFF;





/* Загальні налаштування, робочі класи*/


body {

    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Google Sans', system-ui, -apple-system, sans-serif;
    font-weight: 400;
    line-height: 1.4;
}
h1, h2, h3 {
    font-weight: 700;
    line-height: 1.3;
}


a,
button,
input,
textarea {
    font-size: 16px;
}

.wrapper {
  width: 100%;
	padding-top: 180px;
	//padding-bottom: 230px;
	background-image: url(/themes/skyyar/assets/src/img/bg-img.webp);
	display: flex;
	flex-direction: column;
	align-items: center;
    color: $colorText;
    font-size: 16px;


}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1110px;

}
.header {
	padding-bottom: 80px;

		// .header__logo

		&__logo {
			width: 284px;
			height: auto;
			max-width: 100%;

		}
}
.content {


	width: 100%;
    padding: 0 95px 80px 95px;

		// .content__title

		&__title {
			font-size: 30px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 32px;
			color: $colorH1;
		}

		// .content__text

		&__text {
			color: $colorText;
			font-size: 20px;
			text-align: center;
			margin-bottom: 16px;

		}

		// .content__text-p

		&__text-p {
		}
}
.form {
	width: 100%;
	padding: 0 95px;

		// .form_line

		&_line {
            padding: 0 95px;
		}

		// .form_line-wrapper

		&_line-wrapper {
			display: flex;

		}

		// .form__input

		&__input {

            padding: 16px 20px;
            line-height: 1.3;
            border: 1px solid $colorBorder;
            flex-grow: 6;
            background-color: transparent;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;


            &:hover,
            &:focus,
            &:active {
                border-color: $colorBorderActive;
                background-color: white !important; // тимчасово для перевірки
            }

            /* Autofill Chrome */
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                box-shadow: 0 0 0 1000px white inset;
                -webkit-text-fill-color: #000;
            }
        }
		&__btn {
			background: $colorBgBnt;
			padding: 16px 32px;
            font-weight: 500;
			color: white;
			text-transform:uppercase;
            line-height: 1.5;

			&:hover {
				background: $colorBgBntHover;
				transition: all 0.2s ease 0.1s;
			}

		}
}
.contact-us {
	padding-top: 100px;
	display: flex;
	justify-content: space-around;
	column-gap: 32px;
	row-gap: 16px;
	flex-wrap: wrap;

		// .contact-us_item

		&_item {
			display: flex;
			flex-grow: 1;
			align-items: center;
			border: 1px dashed $colorBorder;
			padding: 10px 20px;
			justify-content: space-between;
			&:hover {
				border: 1px dashed $colorBgBnt;
				transition: all 0.3s ease 0.1s;
			}


		}

		// .contact-us_link

		&_link {
			margin: 0px auto;
			// text-align: center;
			color: $colorText;
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
			display: flex;
		}

		// .contact-us_link-img

		&_link-img {
			margin-right: 4px;

		}

		// .contact-us_tel


}
.copy-right {
	padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    white-space: nowrap;

		// .copy-right_item

		&_item {
            color: rgba(68, 68, 68, 0.60);
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
		}
    // .copy-right_sign
        &_sign {
            width: 12px;
            height: 12px;
            display: block;
            background-size: cover;

        }
    }







/* Підключення адаптиву*/
@import"_media";



