@charset "UTF-8";
/* Підключення інших scss файлів*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased; /* для Safari, iOS */
  -moz-osx-font-smoothing: grayscale; /* для Firefox Mac */
}

input::-ms-clear {
  display: none;
}

a,
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Підключення адаптиву*/
@media (max-width: 767.98px) {
  p,
  a,
  button,
  input,
  textarea {
    font-size: 14px;
  }
  .wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container {
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
  }
  .header {
    padding-bottom: 32px;
  }
  .header__logo {
    width: 177px;
  }
  .content {
    padding: 0 0 48px 0;
  }
  .content__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 8px;
  }
  .content__text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  .form {
    padding: 0;
  }
  .form_line-wrapper {
    flex-direction: column;
  }
  .form__input {
    margin-bottom: 10px;
  }
  .form__btn {
    padding: 13px 16px;
  }
  .contact-us {
    padding-top: 60px;
    flex-direction: column;
    width: 100%;
  }
  .contact-us_item {
    width: 100%;
  }
  .copy-right {
    padding-top: 24px;
  }
}
/* Підключення шрифтів*/
@font-face {
  font-family: "Google Sans";
  src: url(/themes/skyyar/assets/src/fonts/GoogleSans-Regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Google Sans";
  src: url(/themes/skyyar/assets/src/fonts/GoogleSans-Medium.woff2);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Google Sans";
  src: url(/themes/skyyar/assets/src/fonts/GoogleSans-Bold.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/* Підключення змінних*/
/* Загальні налаштування, робочі класи*/
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Google Sans", system-ui, -apple-system, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.3;
}

a,
button,
input,
textarea {
  font-size: 16px;
}

.wrapper {
  width: 100%;
  padding-top: 180px;
  background-image: url(/themes/skyyar/assets/src/img/bg-img.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(68, 68, 68);
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1110px;
}

.header {
  padding-bottom: 80px;
}
.header__logo {
  width: 284px;
  height: auto;
  max-width: 100%;
}

.content {
  width: 100%;
  padding: 0 95px 80px 95px;
}
.content__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
  color: #000;
}
.content__text {
  color: rgb(68, 68, 68);
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}
.form {
  width: 100%;
  padding: 0 95px;
}
.form_line-wrapper {
  display: flex;
}
.form__input {
  padding: 14px 20px;
  border: 1px solid rgba(55, 125, 255, 0.16);
  flex-grow: 6;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
.form__input:hover, .form__input:focus, .form__input:active {
  border-color: #377DFF;
  background-color: white !important;
}
.form__input {
  /* Autofill Chrome */
}
.form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
}
.form__btn {
  background: rgb(55, 125, 255);
  padding: 14px 32px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}
.form__btn:hover {
  background: #0049CF;
  transition: all 0.2s ease 0.1s;
}

.contact-us {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  column-gap: 32px;
  row-gap: 16px;
  flex-wrap: wrap;
}
.contact-us_item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: 1px dashed rgba(55, 125, 255, 0.16);
  padding: 10px 20px;
  justify-content: space-between;
}
.contact-us_item:hover {
  border: 1px dashed rgb(55, 125, 255);
  transition: all 0.3s ease 0.1s;
}
.contact-us_link {
  margin: 0px auto;
  color: rgb(68, 68, 68);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  display: flex;
}
.contact-us_link-img {
  margin-right: 4px;
}

.copy-right {
  padding-top: 30px;
}
.copy-right_item {
  color: rgba(68, 68, 68, 0.6);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

/* Підключення адаптиву*/
@media (max-width: 767.98px) {
  p,
  a,
  button,
  input,
  textarea {
    font-size: 14px;
  }
  .wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container {
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
  }
  .header {
    padding-bottom: 32px;
  }
  .header__logo {
    width: 177px;
  }
  .content {
    padding: 0 0 48px 0;
  }
  .content__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 8px;
  }
  .content__text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  .form {
    padding: 0;
  }
  .form_line-wrapper {
    flex-direction: column;
  }
  .form__input {
    margin-bottom: 10px;
  }
  .form__btn {
    padding: 13px 16px;
  }
  .contact-us {
    padding-top: 60px;
    flex-direction: column;
    width: 100%;
  }
  .contact-us_item {
    width: 100%;
  }
  .copy-right {
    padding-top: 24px;
  }
}
